[submodule "core"]
	path = core
	url = http://win9148.informatik.uni-wuerzburg.de/simx/core.git
[submodule "components/sound/lwjgl-sound"]
	path = components/sound/lwjgl-sound
	url = http://win9148.informatik.uni-wuerzburg.de/simx/lwjgl-sound.git
[submodule "components/remote"]
	path = components/remote
	url = http://win9148.informatik.uni-wuerzburg.de/simx/remote.git
[submodule "components/editor"]
	path = components/editor
	url = http://win9148.informatik.uni-wuerzburg.de/simx/editor.git
[submodule "components/physics/jbullet"]
	path = components/physics/jbullet
	url = http://win9148.informatik.uni-wuerzburg.de/simx/jbullet.git
[submodule "components/renderer/jvr"]
	path = components/renderer/jvr
	url = http://win9148.informatik.uni-wuerzburg.de/simx/jvr.git
[submodule "components/io/cv"]
	path = components/io/cv
	url = http://win9148.informatik.uni-wuerzburg.de/simx/cv.git
[submodule "components/io/vrpn"]
	path = components/io/vrpn
	url = http://win9148.informatik.uni-wuerzburg.de/simx/vrpn.git
[submodule "components/ontology/generating"]
	path = components/ontology/generating
	url = http://win9148.informatik.uni-wuerzburg.de/simx/generating.git
[submodule "components/io/tuio"]
	path = components/io/tuio
	url = http://win9148.informatik.uni-wuerzburg.de/simx/tuio.git
[submodule "components/ai/planning"]
	path = components/ai/planning
	url = http://win9148.informatik.uni-wuerzburg.de/simx/planning.git
[submodule "components/ai/atn"]
	path = components/ai/atn
	url = http://win9148.informatik.uni-wuerzburg.de/simx/atn.git
[submodule "components/ai/feature"]
	path = components/ai/feature
	url = http://win9148.informatik.uni-wuerzburg.de/simx/feature.git
[submodule "components/renderer/gui"]
	path = components/renderer/gui
	url = http://win9148.informatik.uni-wuerzburg.de/simx/gui.git
[submodule "components/sound/java-sound"]
	path = components/sound/java-sound
	url = http://win9148.informatik.uni-wuerzburg.de/simx/java-sound.git
[submodule "applications/examples/basic"]
	path = applications/examples/basic
	url = http://win9148.informatik.uni-wuerzburg.de/simx/examples-basic.git
[submodule "applications/examples/ai"]
	path = applications/examples/ai
	url = http://win9148.informatik.uni-wuerzburg.de/simx/examples-ai.git
[submodule "components/io/j4k"]
	path = components/io/j4k
	url = http://win9148.informatik.uni-wuerzburg.de/simx/j4k.git
[submodule "applications/examples/unity"]
	path = applications/examples/unity
	url = http://win9148.informatik.uni-wuerzburg.de/simx/examples-unity.git
[submodule "components/ai/reasoning"]
	path = components/ai/reasoning
	url = http://win9148.informatik.uni-wuerzburg.de/simx/reasoning.git
[submodule "components/ai/nlp"]
	path = components/ai/nlp
	url = http://win9148.informatik.uni-wuerzburg.de/simx/nlp.git
[submodule "components/renderer/unity"]
	path = components/renderer/unity
	url = http://win9148.informatik.uni-wuerzburg.de/simx/unity.git
[submodule "components/io/json"]
	path = components/io/json
	url = http://win9148.informatik.uni-wuerzburg.de/simx/json.git
[submodule "applications/xroads"]
	path = applications/xroads
	url = http://win9148.informatik.uni-wuerzburg.de/simx/xroads.git
[submodule "components/io/sphinx"]
	path = components/io/sphinx
	url = http://win9148.informatik.uni-wuerzburg.de/simx/sphinx.git
[submodule "applications/simthief"]
	path = applications/simthief
	url = http://win9148.informatik.uni-wuerzburg.de/simx/simthief.git
